<header>
  <a (click)="goTopPage()">
    <h1>文房具オンラインS.A店</h1>
  </a>

  <button class="button fancy-button" id="top" (click)="goTopPage()">トップ</button>

  @if (isVisible()) {
    <button class="button fancy-button" id="return" (click)="onClickedReturn()">戻る</button>
  }

  <div class="search-items">
    <input [formControl]="itemName" placeholder="名前" />
    <button class="button fancy-button" id="search" (click)="onClickedSearch()">検索</button>
  </div>

  @if (getUserName() != '') {
  <div class="user-menu">
    <label>
      <select (change)="onMenuChange($event)" class="dropdown-menu">
        <option value="" disabled selected hidden>購入履歴・設定</option>
        <option value="order-list">購入履歴</option>
        <option value="user-setting">ユーザー設定</option>
        <option value="change-password">パスワード変更</option>
        <option value="sign-out">サインアウト</option>
      </select>
    </label>
  </div>
  } @else {
  <button class="button fancy-button" id="login" (click)="login()">ログイン</button>
  }

  <button class="button fancy-button" id="cart" (click)="toCart()">カート</button>
</header>
