a {
  text-decoration: none;
}

footer {
  width: 100%;
  height: 170px;
  background-color: #2f3033;
  position: relative;

  .footer-content {
    display: flex;
    width: 200px;
    height: 100%;
    margin: auto;

    ul {
      list-style: none;
      color: white;

      li {
        padding: 5px;
        color: white;
        list-style: none;
      }

      li:hover {
        background-color: grey;
        color: black;
      }
    }
  }
}
