footer {
  width: 100%;
  height: auto;
  background-color: #2f3033;
  position: relative;

  .footer-content {
    display: flex;
    width: auto;
    height: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;

    p {
      color: white;
    }
  }
}
