<div class="wrapper">
  <div class="side-menu">
    <nav>
      <ul>
        @for (category of getCategories(); track $index) {
        <li>
          <a href="#{{ category.name }}">{{ category.name }}</a>
        </li>
        }
      </ul>
    </nav>
  </div>

  <div class="product-list-container">
    <h2>🖊 文房具一覧</h2>
    <!-- カテゴリーごとにループ -->
    @for (category of getCategories(); track $index) {
    <div class="category-section">
      <hr />
      <h3 class="category-title" id="{{ category.name }}">{{ category.name }}</h3>
      <div class="product-grid">
        @for (product of getProductsByCategory(category.id); track $index) {
        <div
          class="product-card"
          (click)="product.stock > 0 && goToProductDetail(product.id)"
          [class.sold-out]="product.stock == 0"
        >
          <img [src]="getImageUrl(product)" alt="{{ product.name }}" />
          <div class="card-body">
            <div class="product-name">
              {{ product.name }}
              @if (product.stock == 0) {
                <span class="sold-out-label">売り切れ</span>
              }
            </div>
            <div class="product-stock">
              在庫数: {{ product.stock }}
            </div>
            <div class="product-price">
              価格: {{ product.price | currency : 'JPY' : 'symbol' : '1.0-0' }}
            </div>
          </div>
        </div>
        }
      </div>

      @if (getProductsByCategory(category.id).length === 0) {
      <div class="no-products">このカテゴリに該当する商品がありません</div>
      }
    </div>
    }
  </div>
</div>
