<div class="login">
  <h1>新規会員登録</h1>
  <form [formGroup]="myForm" (submit)="onSubmit()">
    <p>名前を入力してください</p>
    <input type="text" formControlName="name" />
    @if (name.touched && name.errors?.['required']) {
    <div class="error">名前が必要です</div>
    }

    <p>メールアドレスを入力してください</p>
    <input type="email" formControlName="email" />
    @if (email.touched && email.errors?.['required']) {
    <div class="error">メールアドレスが必要です</div>
    } @if (email.touched && email.errors?.['email']) {
    <div class="error">メールアドレスを入力してください</div>
    }

    <p>電話番号を入力してください</p>
    <input type="text" formControlName="tel" />
    @if (tel.touched && tel.errors?.['required']) {
    <div class="error">電話番号が必要です</div>
    }

    <p>都道府県を選択してください</p>
    <select formControlName="prefecturesDropDown">
      <option value="" hidden>都道府県を選択してください</option>
      @for (prefecture of getPrefectures(); track $index) {
      <option>{{ prefecture.name }}</option>
      }
    </select>
    @if (prefecturesDropDown.touched && prefecturesDropDown.errors?.['required']) {
    <div class="error">都道府県の選択が必要です</div>
    }

    <p>住所を入力してください</p>
    <input type="text" formControlName="address" />
    @if (address.touched && address.errors?.['required']) {
    <div class="error">住所が必要です</div>
    }

    <p>パスワードを入力してください</p>
    <input type="password" formControlName="pass" />
    @if (pass.touched && pass.errors?.['required']) {
    <div class="error">パスワードが必要です</div>
    } @if (pass.touched && pass.errors?.['minlength']) {
    <div class="error">最低4文字を入力してください</div>
    }

    <br />
    <button [disabled]="myForm.invalid" type="submit">登録</button>

    <hr />
    <p>{{ message }}</p>
  </form>
</div>
