<div class="change-password">
  <h1>パスワードの変更</h1>
  <form [formGroup]="myForm" (submit)="onSubmit()">
    <p>現在のパスワード</p>
    <p>{{ currentPass }}</p>
    <br />

    <p>新しいパスワード</p>
    <input type="text" formControlName="newPass" />
    @if (newPass.touched && newPass.errors?.['minlength']) {
        <div class="error">最低4文字を入力してください</div>
    }

    <p>新しいパスワード確認用</p>
    <input type="text" formControlName="newPassConfirm" />

    <br />
    <button [disabled]="myForm.invalid" type="submit">更新</button>

    <hr />
    <p>{{ message }}</p>
  </form>
</div>
