<div>
  <h1>購入履歴</h1>

  @if (purchaseHistory && purchaseHistory.length > 0) { @for (order of purchaseHistory; track
  order.data) {
  <div class="order-unit">
    <div>
      <p>SALE ID: {{ order.sale_id }}</p>

      <p><strong>
      日付: {{ order.date }}
    </strong></p>
    </div>

    <table>
      <thead>
        <tr>
          <th></th>
          <th>名前</th>
          <th>価格</th>
          <th>個数</th>
        </tr>
      </thead>

      <tbody>
        @for (item of order.data; track $index) {
        <tr>
          <td>
            <img [src]="getImageUrl(item)" alt="{{ item.item_name }}" />
          </td>
          <td>{{ item.item_name }}</td>
          <td>{{ item.price | currency : 'JPY' : 'symbol' : '1.0-0' }}</td>
          <td>{{ item.quantity }}</td>
        </tr>
        }
      </tbody>
    </table>

    <div>
      <p>
        <strong>
          合計金額: {{ calcTotal(order.data) | currency : 'JPY' : 'symbol' : '1.0-0' }}
        </strong>
      </p>
      <p>
        <strong>
          税込み合計金額: {{ calcTotalWithTax(order.data) | currency : 'JPY' : 'symbol' : '1.0-0' }}
        </strong>
      </p>
    </div>
  </div>
  } }
</div>
