<div>
    <h1>Order List</h1>
  
    @if (purchaseHistory && purchaseHistory.length > 0) { 
      @for (order of purchaseHistory; track order.data) {
          <div>
              <div>
                  <p>SALE ID: {{order.sale_id}}</p>
                  <p>DATE: {{order.date}}</p>
              </div>
  
                  <table>
                      <thead>
                          <tr>
                              <th></th>
                              <th>NAME</th>
                              <th>PRICE</th>
                              <th>QUANTITY</th>
                          </tr>
                      </thead>
  
                      <tbody>
                          
              @for (item of order.data; track $index) {
                          <tr>
                              <td>
                                  <img [src]="getImageUrl(item)" alt="{{ item.item_name }}" />
                              </td>
                              <td>{{ item.item_name }}</td>
                              <td>{{ item.price | currency : 'JPY' : 'symbol' : '1.0-0' }}</td>
                              <td>{{ item.quantity }}</td>
                          </tr>
                      }
                      </tbody>
                  </table>
  
                  <div>
                      <p>TOTAL: {{ calcTotal(order.data) | currency : 'JPY' : 'symbol' : '1.0-0' }}</p>
                      <p>TOTAL WITH TAX: {{ calcTotalWithTax(order.data) | currency : 'JPY' : 'symbol' : '1.0-0' }}</p>
                  </div>
          </div>
      }
    }
  </div>
  