<div class="cart-container">
  <h2>🛒 カート内容</h2>

  <div class="cart-items">
    <!-- カート内商品一覧をセッションから取得し、商品情報を付与したitemsでループ -->
    @if (items.length > 0) { @for (item of items; track $index) {
    <div class="cart-card">
      <img [src]="item.imageUrl" alt="{{ item.name }}" />
      <div class="card-body">
        <div class="product-name">{{ item.name }}</div>
        <div class="product-price">価格: {{ item.price | currency : 'JPY' : 'symbol' : '1.0-0' }}</div>
        <div class="product-stock">在庫数: {{ item.stock }}</div>
        <div class="product-quantity">
          <label>
            数量:
            <select [formControl]="quantityMap[item.cart_item_id]">
              @for (n of quantityOptions[item.cart_item_id];track $index) {
              <option [value]="n">{{ n }}</option>
              }
            </select>
          </label>
        </div>
        <div class="card-actions">
          <div class="subtotal">小計: {{ item.price * item.quantity  | currency : 'JPY' : 'symbol' : '1.0-0' }}</div>
          <button class="remove" (click)="removeItem(item.cart_item_id)">削除</button>
        </div>
      </div>
    </div>
    } } @else {
    <div class="no-products">カートに商品がありません</div>
    }
  </div>

  @if (items.length > 0) {
  <div class="cart-footer">
    <p class="total">
      <strong>合計: {{ total | currency : 'JPY' : 'symbol' : '1.0-0'  }}</strong>
    </p>

    <button class="return-top" (click)="returnTop()">戻る</button>

    <button class="proceed" (click)="onProceedToCheckout()">購入する</button>
  </div>
  }
</div>
