* {
  font-family: 'Roboto', Arial, sans-serif;
  color: #616161;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
}

/* Text */

h1 {
  font-size: 32px;
}

h2 {
  font-size: 20px;
}

p {
  font-size: 14px;
}

/* Hyperlink */

a {
  cursor: pointer;
  color: #1976d2;
  text-decoration: none;
}

a:hover {
  opacity: 0.8;
}

/* Input */

input {
  font-size: 14px;
  border-radius: 2px;
  padding: 8px;
  margin-bottom: 16px;
  border: 1px solid #bdbdbd;
}

label {
  font-size: 12px;
  font-weight: bold;
  margin-bottom: 4px;
  display: block;
  text-transform: uppercase;
}

/* Button */
button:disabled {
  $opacity: 0.5;
  opacity: $opacity;
  cursor: not-allowed;

  &:hover {
    opacity: $opacity;
  }
}

// button {
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   width: 250px;
//   height: 50px;
//   background: #6495ed;
//   color: #fff;
//   border: none;
//   font-size: 20px;
//   border-radius: 5px;
//   box-shadow: 3px 3px 3px #aaa;
//   transition: all 0.3s;
// }
// button:active {
//   transform: translate(3px, 3px);
//   box-shadow: none;
// }
// button:hover {
//   filter: brightness(1.2);
// }
// button:disabled {
//   filter: brightness(0.8);
//   cursor: not-allowed;
//   transform: translate(-3px, -3px);
//   box-shadow: 3px 3px 3px #aaa;
// }
